@import url(//fonts.googleapis.com/css?family=Roboto+Slab:400,700|Roboto:400,700,700italic,400italic);
@import "../../bower_components/font-awesome/css/font-awesome.css";

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../../bower_components/material-design-iconfont/iconfont/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
  local('MaterialIcons-Regular'),
  url(../../bower_components/material-design-iconfont/iconfont/MaterialIcons-Regular.woff2) format('woff2'),
  url(../../bower_components/material-design-iconfont/iconfont/MaterialIcons-Regular.woff) format('woff'),
  url(../../bower_components/material-design-iconfont/iconfont/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

html {
  font-family: 'Roboto Slab', serif;
}

[layout=row] {
  flex-direction: row;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/*
    swan css
 */
html,body {
  /*background:-moz-linear-gradient(top, rgb(78, 78, 108), rgb(81, 99, 149));
    background:-webkit-gradient(linear, 0 0, 0 bottom, from(rgb(78, 78, 108)), to(rgb(81, 99, 149)));
    background:-o-linear-gradient(top, rgb(78, 78, 108), rgb(81, 99, 149));
    background-attachment: fixed;*/
}
.md-display-2, .md-headline, .md-title {
  padding-left: 16px;
  padding-right: 16px;
}

a, a:visited {
  color: #427fed;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
ul,li {
  list-style:  none;
  padding: 0;
  margin: 0;
}
section {
  margin-bottom: 50px;
}
section > header {
  border-bottom: 1px solid rgba(0,0,0,0.87);
}
.page-header {
  background-color: #101929;
  color: #FFF;
  margin-bottom: 50px;
}
.right-nav {
  position: fixed;
  right: 0;
  bottom: 100px;
  z-index: 1001;
  font-size: 12px;
  background-color: rgba(255,255,255,0.65);
  padding: 5px;
}
.right-nav {
  line-height: 20px;
}
md-list.md-dense md-list-item.md-2-line .md-list-item-text h3, md-list.md-dense md-list-item.md-2-line>.md-no-style .md-list-item-text h3, md-list.md-dense md-list-item.md-3-line .md-list-item-text h3, md-list.md-dense md-list-item.md-3-line>.md-no-style .md-list-item-text h3 {
  font-size: 14px;
}
md-list.md-dense md-list-item.md-2-line .md-list-item-text p {
  font-size: 11px;
}
md-list.md-dense md-list-item.md-2-line .md-list-item-text p small {
  margin-left: 4px;
}
.md-button.md-icon-button.autowidth {
  padding: 0;
  margin: 0;
  width: auto;
  height: auto;
  min-height: auto;
  line-height: 1.05;
  border-radius: 0;
}
table.md-table thead.md-head>tr.md-row {
}
table.md-table th.md-column {
  color: rgba(0,0,0,0.8);
  font-size: 15px;
  font-weight: 600;
  white-space: nowrap;
}
table.md-table th.md-column small {
  color: rgba(0,0,0,0.4);
  margin-left: 4px;
  font-weight: light;
}
table.md-table td.md-cell dl {
  margin: 0;
}
table.md-table td.md-cell dt, table.md-table td.md-cell dd {
  display: inline-block;
}
table.md-table td.md-cell dd {
  margin-left: 10px;
}
table.md-table tr:hover td.md-cell {
  background-color: rgba(0,0,0,0.05);
}


