swan: sudo bin/swan --zk-path=zk://192.168.1.1:2181/mesos --log-level=debug --raftid=1 --raft-cluster=192.168.1.1:2111 --data-dir=./data --cluster-addrs=192.168.1.1:9999 --mode=mixed --domain=foobar.com --advertise-addr=192.168.1.1:9999
