<ul class="right-nav">
  <li><a href="#app">应用详情</a></li>
  <li><a href="#task-list">实例列表</a></li>
  <li><a href="#event">事件</a></li>
  <li><a href="#history">历史版本</a></li>
</ul>
<header class="page-header md-display-2">应用详情</header>
<section id="app">
  <header class="md-headline">{/vm.app.name/}</header>
  <div layout="column" class="list-dl-h">

    <dl layout="row">
      <dt>最近更新时间</dt>
      <dd>{/vm.app.updated | date: 'yyyy-MM-dd HH:mm'/}</dd>
    </dl>

    <dl layout="row">
      <dt>运行状态</dt>
      <dd>???</dd>
    </dl>

    <dl layout="row">
      <dt>健康检查类型</dt>
      <dd>???</dd>
    </dl>

    <dl layout="row">
      <dt>CPU
        <small>申请 / 占用</small>
      </dt>
      <dd>??? / ???</dd>
    </dl>

    <dl layout="row">
      <dt>内存
        <small>申请 / 占用</small>
      </dt>
      <dd>??? / ???</dd>
    </dl>

    <dl layout="row">
      <dt>磁盘
        <small>申请 / 占用</small>
      </dt>
      <dd>??? / ???</dd>
    </dl>

    <dl layout="row">
      <dt>CMD</dt>
      <dd>???</dd>
    </dl>

    <dl layout="row">
      <dt>版本</dt>
      <dd>???</dd>
    </dl>

    <dl layout="row">
      <dt>应用地址</dt>
      <dd>???</dd>
    </dl>

    <dl layout="row">
      <dt>协议</dt>
      <dd>???</dd>
    </dl>

    <dl layout="row">
      <dt>映射端口</dt>
      <dd>???</dd>
    </dl>

    <dl layout="row">
      <dt>仓库认证</dt>
      <dd>???</dd>
    </dl>

    <dl layout="row">
      <dt>环境变量</dt>
      <dd ng-repeat="(key, value) in vm.app.env">
        {/key/}:{/value/}
      </dd>
    </dl>

    <dl layout="row">
      <dt>限制条件</dt>
      <dd ng-repeat="constraint in vm.app.constraints">{/constraint/}</dd>
    </dl>

  </div>
</section>
<section id="task-list">
  <header class="md-headline">
    实例列表
  </header>
  <md-table-container>
    <table md-table>
      <thead md-head>
      <tr md-row>
        <th md-column>
          实例 ID
        </th>
        <th md-column>地址</th>
        <th md-column>健康状态</th>
        <th md-column>运行状态</th>
        <th md-column>版本</th>
        <th md-column>更新时间</th>
      </tr>
      </thead>
      <tbody md-body>
      <tr md-row ng-repeat="task in vm.app.tasks track by $index">
        <td md-cell>
          <a ui-sref="home.task({appId: $stateParams.appId, taskIndex: $index})">{/task.id/}</a>
        </td>
        <td md-cell>
          {/task.agentHostname/}:<a href="#">端口</a> - <a href="#">端口</a> - <a href="#">端口</a></td>
        <td md-cell>{/task.healthy/}</td>
        <td md-cell>
          <!--<i class="fa fa-play" aria-hidden="true"><md-tooltip>运行中</md-tooltip></i></td>-->
          {/task.status/}
        <td md-cell>
          {/task.versionId/}
        </td>
        <td md-cell>
          2016-11-11 10:10:10
        </td>
      </tr>
      </tbody>
    </table>
  </md-table-container>
</section>
<section id="event">
  <header class="md-headline">
    事件
  </header>
  <md-table-container>
    <table md-table>
      <thead md-head>
      <tr md-row>
        <th md-column style="width: 150px;">时间</th>
        <th md-column>事件内容</th>
      </tr>
      </thead>
      <tbody md-body>
      <tr md-row ng-repeat="dessert in [1,2,3,4,5,6,7,8,9,10]">
        <td md-cell>
          2016-11-11 10:10:10
        </td>
        <td md-cell>
          事件内容（某个实例被抢占，导致被迁移。）
        </td>
      </tr>
      </tbody>
    </table>
  </md-table-container>
</section>
<section id="history">
  <header class="md-headline">
    应用配置历史版本
  </header>
  <md-list>
    <md-list-item class="md-2-line" ng-click="null">
      <div class="md-list-item-text" layout="column">
        <h3>2016-11-28T05:39:24.311Z</h3>
      </div>
    </md-list-item>
    <md-list-item class="md-2-line" ng-click="null">
      <div class="md-list-item-text" layout="column">
        <h3>2016-11-28T05:39:24.311Z</h3>
      </div>
    </md-list-item>
  </md-list>
</section>
