<ul class="right-nav">
  <li><a href="#app">应用详情</a></li>
  <li><a href="#task-list">实例列表</a></li>
  <li><a href="#event">事件</a></li>
  <li><a href="#history">历史版本</a></li>
</ul>
<header class="page-header md-display-2">应用详情</header>
<section id="app">
  <header class="md-headline">{/vm.app.name/}</header>
  <md-list class="md-dense" layout="row" layout-wrap>
    <md-list-item class="md-2-line" flex="20">
      <div class="md-list-item-text" layout="column">
        <h3>{/vm.app.updated | date: 'yyyy-MM-dd HH:mm'/}</h3>
        <p>最近更新时间</p>
      </div>
    </md-list-item>
    <md-list-item class="md-2-line" flex="20">
      <div class="md-list-item-text" layout="column">
        <h3>1/0</h3>
        <p>应用状态<small>运行/停止</small></p>
      </div>
    </md-list-item>
    <md-list-item class="md-2-line" flex="20">
      <div class="md-list-item-text" layout="column">
        <h3>1/1/1</h3>
        <p>健康检查<small>健康/异常/未知</small></p>
      </div>
    </md-list-item>
    <md-list-item class="md-2-line" flex="20">
      <div class="md-list-item-text" layout="column">
        <h3><a href="#">app.user.cluster.dataman.io</a></h3>
        <p>访问地址</p>
      </div>
    </md-list-item>
    <md-list-item class="md-2-line" flex="20">
      <div class="md-list-item-text" layout="column">
        <h3>1.3/0.5</h3>
        <p>CPU<small>申请/占用</small></p>
      </div>
    </md-list-item>
    <md-list-item class="md-2-line" flex="20">
      <div class="md-list-item-text" layout="column">
        <h3>824M/100M</h3>
        <p>内存<small>申请/占用</small></p>
      </div>
    </md-list-item>
    <md-list-item class="md-2-line" flex="20">
      <div class="md-list-item-text" layout="column">
        <h3>50G/30G</h3>
        <p>磁盘<small>申请/占用</small></p>
      </div>
    </md-list-item>
    <md-list-item class="md-2-line" flex="20">
      <div class="md-list-item-text" layout="column">
        <h3>{/vm.app.tasks.length/}</h3>
        <p>实例个数</p>
      </div>
    </md-list-item>
    <md-list-item class="md-2-line" flex="20">
      <div class="md-list-item-text" layout="column">
        <h3>{/vm.app.runAs/}</h3>
        <p>发布者</p>
      </div>
    </md-list-item>
    <md-list-item class="md-2-line" flex="20">
      <div class="md-list-item-text" layout="column">
        <h3>-</h3>
        <p>CMD</p>
      </div>
    </md-list-item>
    <md-list-item class="md-2-line" flex="20">
      <div class="md-list-item-text" layout="column">
        <h3>2016-11-28T14:47:09.806Z</h3>
        <p>版本</p>
      </div>
    </md-list-item>
    <md-list-item class="md-2-line" flex="20">
      <div class="md-list-item-text" layout="column">
        <h3>-</h3>
        <p>应用端口</p>
      </div>
    </md-list-item>
    <md-list-item class="md-2-line" flex="20">
      <div class="md-list-item-text" layout="column">
        <h3>-</h3>
        <p>协议</p>
      </div>
    </md-list-item>
    <md-list-item class="md-2-line" flex="20">
      <div class="md-list-item-text" layout="column">
        <h3>-</h3>
        <p>映射端口</p>
      </div>
    </md-list-item>
    <md-list-item class="md-2-line" flex="20">
      <div class="md-list-item-text" layout="column">
        <h3>-</h3>
        <p>仓库认证</p>
      </div>
    </md-list-item>
    <md-list-item class="md-2-line" flex="20">
      <div class="md-list-item-text" layout="column">
        <h3>-</h3>
        <p>环境变量</p>
      </div>
    </md-list-item>
    <md-list-item class="md-2-line" flex="20">
      <div class="md-list-item-text" layout="column">
        <h3>-</h3>
        <p>限制条件</p>
      </div>
    </md-list-item>
    <md-list>
</section>
<section id="task-list">
  <header class="md-headline">
    实例列表
  </header>
  <md-table-container>
    <table md-table>
      <thead md-head>
      <tr md-row>
        <th md-column>
          实例 ID
        </th>
        <th md-column>地址</th>
        <th md-column>健康状态</th>
        <th md-column>状态</th>
        <th md-column>版本</th>
        <th md-column>更新时间</th>
      </tr>
      </thead>
      <tbody md-body>
      <tr md-row ng-repeat="task in vm.app.tasks track by $index">
        <td md-cell><a href="#">

          {/task.id/}
        </a></td>
        <td md-cell>
          {/task.agentHostname/}:<a href="#">端口</a> - <a href="#">端口</a> - <a href="#">端口</a></td>
        <td md-cell>健康</td>
        <td md-cell><i class="fa fa-play" aria-hidden="true"><md-tooltip>运行中</md-tooltip></i></td>
        <td md-cell>
          {/task.versionId/}
        </td>
        <td md-cell>
          2016-11-11 10:10:10
        </td>
      </tr>
      </tbody>
    </table>
  </md-table-container>
</section>
<section id="event">
  <header class="md-headline">
    事件
  </header>
  <md-table-container>
    <table md-table>
      <thead md-head>
      <tr md-row>
        <th md-column style="width: 150px;">时间</th>
        <th md-column>事件内容</th>
      </tr>
      </thead>
      <tbody md-body>
      <tr md-row ng-repeat="dessert in [1,2,3,4,5,6,7,8,9,10]">
        <td md-cell>
          2016-11-11 10:10:10
        </td>
        <td md-cell>
          事件内容（某个实例被抢占，导致被迁移。）
        </td>
      </tr>
      </tbody>
    </table>
  </md-table-container>
</section>
<section id="history">
  <header class="md-headline">
    应用配置历史版本
  </header>
  <md-list>
    <md-list-item class="md-2-line" ng-click="null">
      <div class="md-list-item-text" layout="column">
        <h3>2016-11-28T05:39:24.311Z</h3>
      </div>
    </md-list-item>
    <md-list-item class="md-2-line" ng-click="null">
      <div class="md-list-item-text" layout="column">
        <h3>2016-11-28T05:39:24.311Z</h3>
      </div>
    </md-list-item>
  </md-list>
</section>
